* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 18px;
}

h1 {
    font-size: 240%;
    font-weight: 700;
}

/* GRID CONTAINER */
.grid {
    display: grid;
    grid-template-areas:
        "header header"
        "hero hero"
        "gallery gallery";
    position: absolute;
    left: 10%;
    right: 10%;
}

/* NAVIGATION BAR CONTAINER */
.header {
    grid-area: header;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #1dd1a1;
    padding: 0.25rem;
}

/* NAVIGATION LINK ON THE RIGHT */
.main-nav {
    grid-area: main-nav;
    list-style: none;
    margin-left: auto;
    text-transform: uppercase;
}

.main-nav li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
    padding-bottom: 5px;
}

.main-nav li:hover {
    border-bottom: 1px solid white;
    transition: border-bottom 0.3s;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

/* LOGO ON NAVIGATION BAR */
.logo {
    height: 60px;
    width: 60px;
}

.logo img {
    max-height: 100%;
}

/* HERO */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    grid-area: hero;
    background: url(img/devbg.jpeg);
    background-size: cover;
    background-position: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 20px;
}

.button-container {
display: flex;
}

.hero-btn,
.hero-btn-ghost {
    margin-top: 20px;
    text-decoration: none;
    padding:  10px 10px;
    text-transform: uppercase;
  
}

.hero-btn {
    background: #1dd1a1;
    color: white;
}

.hero-btn-ghost {
    margin-left: 5px;
    border: solid 0.25px #1dd1a1;
    color: #1dd1a1;
}

.hero-btn:hover {
    background: #00a081;
}

.hero-btn-ghost:hover {
    background: #00a081;
    color: white;
}

/* IMAGE GALLERY */
.gallery {
    grid-area: gallery;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top : 15px;
}

.gallery img {
    padding: 10px 10px;
    background: #FAFAFA;
}

/* FOOTER */
/* .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    background: #1dd1a1;
    color: white;
    padding: 10px;
} */
