:root {
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --primary: #badc58;
    --hover: #66801b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 18px;
    background: #ffffff;
}

/* HEADINGS */
h1 {
    font-size: 240%;
    font-weight: 700;
}

h2 {
    font-size: 200%;
    font-weight: 700;
}

h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #00A081;
}

h3 {
    font-size: 150%;
    font-weight: 700;
}

/* GRID CONTAINER */
.grid {
    display: grid;
    grid-template-areas:
        "header header"
        "hero hero"
        "about about"
        "latest-work latest-work"
        "gallery gallery"
        "footer footer";
}

/* 
======================================
           HEADER & NAVIGATION 
======================================
*/
/* Default Styles BEGIN */
.header {
    grid-area: header;
    display: flex;
    width: 100%;
    background: #badc58;
    text-align: right;
    position: fixed;
    z-index: 999;
}

.main-nav {
    grid-area: main-nav;
    align-self: center;
    text-transform: uppercase;
    background: var(--primary);
    width: 100%;
}

.main-nav ul {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
    padding-bottom: 5px;
}

.main-nav li:hover {
    border-bottom: 1px solid #00A081;
    transition: border-bottom 0.3s;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

.nav-toggle {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 125%;
    color: white;
    cursor: pointer;
    display: none;
}

.nav-toggle:checked~.main-nav {
    display: block;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 5px;
}

.logo img {
    height: 100%;
}
/* Default Styles END */

/* Styles for smaller screens BEGIN */
@media only screen and (max-width: 600px) {
    .logo {
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .main-nav {
        position: absolute;
        top: 100%;
        background: rgba(186, 220, 88, 0.95);
        display: none;
        padding-top: 10px;
    }

    .main-nav li {
        display: block;
        font-size: 100%;
        font-weight: 700;
    }

    .main-nav a:hover {
        color: #00A081;
    }

    .main-nav li:hover {
        border-bottom: 0;
        transition: border-bottom 0.3s;
    }

    .toggle-label {
        display: flex;
    }

    .toggle-label:hover {
        color: #00A081;
    }

    .nav-toggle:checked~.main-nav {
        display: block;
    }
}
/* Styles for smaller screens END */


/* 
======================================
           HERO SECTION 
======================================
*/
/* Default styles BEGIN */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    grid-area: hero;
    background: url(img/devbg.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.hero-text p {
    margin: 10px;
}

.button-container {
    display: flex;
}

.hero-btn,
.hero-btn-ghost {
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 10px;
    text-transform: uppercase;

}

.hero-btn {
    background: #badc58;
    color: white;
}

.hero-btn-ghost {
    margin-left: 5px;
    border: solid 0.25px #badc58;
    color: #badc58;
}

.hero-btn:hover {
    background: #66801b;
}

.hero-btn-ghost:hover {
    background: #66801b;
    color: white;
}
/* Default styles END */

/* Styles for smaller screens BEGIN */
@media only screen and (max-width: 600px) {
    .hero-container {
        padding-top: 50px;
    }

    .hero-text {
        height: 350px;
    }

    .hero-text h1 {
        line-height: 45px;
    }

    .hero-text p {
        line-height: 25px;
    }
}
/* Styles for smaller screens END */

/* 
======================================
           WHO AM I SECTION 
======================================
*/

/* Default Styles BEGIN */
.about-me {
    grid-area: about;
    grid-template-columns: 60% 20%;
    display: grid;
    grid-template-areas:
        " about-text about-img";
    background: #f6f6f6;
    height: 100%;
    box-shadow: var(--shadow);   
    justify-content: center;
    padding: 60px;
}

.about-text {
    grid-area: about-text;
    margin: auto;
    text-align: center;
    padding-left: 25%;
    line-height: 25px;
}

.about-img {
    grid-area: about-img;
    padding-left: 10%;
}

.about-img img {
    width: 125%;
}

.about-me h3 {
    margin-bottom: 5px;
}
/* Default Styles END */

/* Styles for smaller screens BEGIN */
@media only screen and (max-width: 600px) {
    .about-me {
        grid-template-rows: 280px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "about-img"
        "about-text";
        padding: 0;
        min-height: 600px;
    }

    .about-me p {
        margin: 0;
    }

    .about-img {
        display: flex;
        padding: 0;
        justify-content: center;
    }

    .about-img img {
        width: 75%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }

    .about-text h3 {
        line-height: 28px;
        margin-bottom: 20px;
    }
}
/* Styles for smaller screens END */


/* 
======================================
           IMAGE GALLERY 
======================================
*/
.gallery {
    grid-area: gallery;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background: #f6f6f6;
    box-shadow: var(--shadow);
    padding-bottom: 30px;
}

.gallery-text {
    text-align: center;
    margin-top: 40px;
}

.odin-pics {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.odin-pics img {
    width: 100%;
}

/* LATEST WORK */
.latest-work {
    grid-area: latest-work;
    display: flex;
    flex-direction: column;
}

.latest-work h2,
p {
    margin: auto;
    margin-top: 40px;
}

.work-boxes {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}

.work-box {
    margin: auto;
    text-align: center;
    background: #f6f6f6;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    margin: 20px 20px;
}

.work-box img {
    width: 100%;
    margin-top: 20px;
}

.work-box p {
    margin-top: 10px;
}

/* FOOTER */
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "footer-about footer-about footer-contact"
        "social-icons social-icons footer-contact"
        "copyright copyright copyright";
    background: #333;
    color: white;
    max-height: 100vh;
    padding-top: 40px;
}

.footer-about {
    grid-area: footer-about;
    padding-left: 40px;
    line-height: 30px;
}

.footer-contact {
    grid-area: footer-contact;
    text-align: center;
}

.footer-contact h3 {
    color: var(--primary);
}

.social-icons {
    grid-area: social-icons;
    margin: 30px 30px;
}

.copyright {
    grid-area: copyright;
    text-align: center;
}

/* "BACK TO TOP" Link */
.copyright a {
    color: var(--primary);
    text-decoration: none;
}

.copyright a:hover {
    color: var(--hover);
}

/* ICONS */
.fab,
.fas {
    font-size: 2rem;
    margin: 0 5px;
}

/* COLOR ICONS */
.fa-rss,
.fa-envelope,
.fa-phone,
.fa-map-marker-alt {
    color: #badc58;
}

/* ICON SIZING */
.fa-phone,
.fa-map-marker-alt {
    font-size: 1rem;
}

/* COLOR TEXT WITH PRIMARY COLOR */
.colored-text {
    color: var(--primary);
}
    





}